body {
    height: 100vh;
    margin: 0;
    /* background-color: rgb(203, 199, 199); */
    background-image: url('./images/BG_1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }